<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>!채팅 홈페이지!</title>
  </head>
  <body>
    <form action="/login" method="post">
      <h1 style="color: darkblue; font-size: 35px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">실시간 그림 채팅 홈페이지에 오신것을 환영합니다!!</h1>
      <h2 style="color: salmon; font-size:2ch">로그인 해주세요!</h2>
      <input type='button' value="회원가입" id='join' onclick="location.href='./join'" style="font-size: 23px;"/><br>
      <p style="font-size: 20px;">아이디: <input type="text" name="username" placeholder="id" style="font-size: 1ch;"/><br />
      비밀번호: <input type="password" name="password" placeholder="password" style="font-size: 1ch;" /><br /></p>
      <input type="submit" value="로그인" style="font-size: 20px;" />
     
    </form>
  </body>
</html>