<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>실시간 채팅 메인</title>
  </head>
  <body>
    <h1>안녕하세요! <%= name %>님 반갑습니다~~</h1>
    <h2><a href="/logout">로그아웃</a></h2>
    <h3><a href="./lobby.html">채팅하기!!!</a></h3>


  </body>
</html>